body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

#main{
    padding: 0% 30%;
}

#box{
    border-radius: 20px;
    background-color: white;
    padding:5%;
    display:flex;
    justify-content: center;
}
strong{
    font-weight: bolder;
}

table,th,td {
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #ffffff;
    color:black;
}