header{
    background-image:url('https://images.nightcafe.studio/jobs/01yjjcmXGi4NEboS4emy/01yjjcmXGi4NEboS4emy_2x.jpg?tr=w-1600,c-at_max');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

body{
    margin:0px;
    background-color: rgb(196, 196, 196);
    background-image:url('https://1secondpainting.com/splatter%20(1).png');
    background-size: cover;
    background-repeat:repeat;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}





h1{
    font-size: 50px;
}

space{
    color:white;
    font-size: 100px;
}

#main{
    padding:1%;
    display: flex;
    flex-direction: column;
    
}

#image{
    padding-left: 2%;
    padding-right: 2%;
}

#article{

    font-size: 25px;
    padding: 5% 20% 2%;
}

#liens{
    padding: 5% 20% 5%;
    line-height: 30px;
}

#liens a:link{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color:Black;
}

#liens a:visited{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color:Black;
}

footer{
    color:white;
    background-color: rgb(49, 49, 49);
    text-align: left;
    padding: 2% 1% 2%;
}

footer a:link{
    text-decoration: none;
    color:white;
}
footer a:visited{
    text-decoration: none;
    color:white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #ffffff;
    color:black;
}

#cv{
    fill: rgb(255, 255, 255);
    fill-rule: nonzero;
    stroke: none;
    stroke-width: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 10;
    stroke-dashoffset: 0;
}